/* CSS styles for txt2tags Markup Demo */

body { margin:3em 1em; font-family:sans-serif; }
#header { text-align:center; } 
#header h2 { font-weight:normal; font-size:100%; }
th { border-bottom:1px solid gray; padding:3em 0 .5em 0; }
td { width:45%; padding:1.5em .5em; }
td.t2t pre { background-color:#ddd; padding-bottom:1em; }

/* little demo table in OTHERS */
td table { border-collapse:collapse; }
td table th { padding-top:0; }
td table td, td table th { padding:.2em 1.5em; }

