/*

	tech.css - A technical document CSS sample file

	Author : Osvaldo Santana Neto <osantanabr (a) brturbo com>
	Date   : June 2004
	License: GPL

	Part of the txt2tags project <http://txt2tags.sf.net>

*/

div.header h1 {
	text-align: center;
	font-family: Sans-Serif;
	font-size: 18pt;
}

div.header h2 {
	text-align: center;
	font-family: Sans-Serif;
	font-size: 14pt;
}

div.header h3 {
	text-align: center;
	font-family: Sans-Serif;
	font-size: 12pt;
}

div.toc {
	margin-top: 24pt;
	margin-bottom: 24pt;
	padding: 8pt;
	border: 1px solid black;
}

div.toc a {
	font-family: Sans-Serif;
	font-size: 10pt;
	color: black;
	text-decoration: none;
}

div.toc a:hover {
	text-decoration: underline;
}
	
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
	text-align: left;
	font-family: Sans-Serif;
}

div.body h1 {
	font-size: 18pt;
}

div.body h2 {
	font-size: 16pt;
}

div.body h3 {
	font-size: 14pt;
}

div.body h4 {
	font-size: 12pt;
}

div.body h5 {
	font-size: 10pt;
	font-weight: bold;
}

div.body h6 {
	font-size: 10pt;
}

div.body a {
	font-family: monospace;
	font-size: 8pt;
	text-decoration: none;
	color: black;
}

div.body a:hover {
	text-decoration: underline;
}

div.body blockquote {
	background: #eee;
	padding: 18pt;
}
div.body blockquote p {
	margin-top: 2pt;
	margin-bottom: 2pt;
}

div.body pre {
	background: #eee;
	padding: 18pt;
	border: 1px dashed black;
}

div.body dt {
	background: #eee;
	padding: 3pt;
	border: 1px solid black;
	font-family: Sans-Serif;
	font-size: 10pt;
	margin-top: 18pt;
	margin-bottom: 8pt;
}

