[submodule "doc"]
	path = doc
	url = https://github.com/txt2tags/doc
[submodule "website"]
	path = website
	url = https://github.com/txt2tags/website
[submodule "old"]
	path = old
	url = https://github.com/txt2tags/old
[submodule "plugins"]
	path = plugins
	url = https://github.com/txt2tags/plugins.git
[submodule "tools"]
	path = tools
	url = https://github.com/txt2tags/tools
[submodule "txt2tags.php"]
	path = txt2tags.php
	url = https://github.com/txt2tags/txt2tags.php.git
