/* Page */
@media screen {
  html {
    font-size: 13px;
  }
  body {
    max-width: 45em;
    margin: 0;
    padding: 2em 3em 4em 9em;
    font-size: 100%;
    color: #222;
    background: white;
  }
}
@media screen and (max-width:40em) {
  body {
    max-width: none;
    padding: 2em;
  }
}
@media print {
  body {
    font-size: 10pt;
  }
}

/* Text */
a {
  text-decoration: none;
  color: #B93530; 
}
a:visited {
  color: #A6706C;
}
a:hover, a:focus {
  color: #FF4942;
}
a:active {
  color: #E31B18;
}
code {
  color: #753062;
}
abbr {
  border:none;
}
