[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=gvim %f
Name=Txt2tags
GenericName=Txt2tags
Comment=Txt2tags
Icon=text-x-txt2tags.png
Categories=Development
NoDisplay=true
