body
	{
	font: normal 14pt sans-serif;
	text-align:justify;
	margin: 3em;
	padding: 3em 4em 2em 4em;
	border: 1px solid black;
	}
#toc ol
	{
	padding: 2em;
	}
#body h1
	{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	margin-top: 3em;
	}
#body p, #body ul, #body ol
	{
	margin-left: 3em;
	}
#body li
	{
	/* to make IE happy */
	margin-top: 1em;
	}
a
	{
	text-decoration: none;
	}
blockquote
	{
	margin-left: 5em;
	margin-top:2em;
	font-style:italic;
	}
code
	{
	font-style:italic;
	}
hr
	{
	margin-top:3em;
	}
