/* Author: Aurelio Jargas http://aurelio.net */

/* old bg: #ddeeff */

body  { background-color:silver; color: black; margin: 2em; }
a     { text-decoration: none; }
pre   {
	background-color: #add8e6;
	margin-left: 3em; margin-right: 2em;
	padding: 8px;
	border-style: solid; border-color: black; border-width: 1px 1px;
}
table { border-style: solid; border-color: black; }
th    {
	background-color: #add8e6; 
	font-family: Verdana,Arial,Helvetica,sans-serif; 
	padding-bottom: .5em; padding-top: .5em;
	/*width: 15%; */
}
td    {
	border-style: none;
	background-color: white;
	padding-left: 1em;
	padding-right: 1em;
}
dl    { margin: 1em; }
dt    {
	background-color: #add8e6;
	padding: .5em;
}
dd    {	padding-bottom: 1em; }
code  { background-color: #55eeff; }
hr    { border-style: none; }

a:visited { color:purple; }
a:hover   { color: red  ; }

/* left menu */
div.left {
	float: left;
	width: 25%;
	border: 1px solid gray;
	background-color: #add8e6;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
}
div.left li {
	list-style-type: none;
	marker-offset: 5px;
}
div.left ul {
	padding-left: 8%;
	padding-top: 2%;
	text-align: left;
}
div.left hr {
	border-style: solid;
	width: 75%;
}

/* news box */
div.news {
	border: 1px solid gray;
	background-color: white;
	float: right;
	width: 70%;
}
div.news dt {
	background-color: white;
	font-weight: bold;
}
div.newversion {
	background-color: yellow;
	margin: 1em;
	padding: 2px 9px 2px 9px;
	border: 1px solid gray;
}
div.yellow {
	background-color: yellow;
}

/* right part */
div.right {
	float: right;
	width: 70%;
}

/* headers (first 3 lines, must use --css-suggar) */
div.header {
	text-align: center;
	padding-bottom: 1em;
	float: right;
	width: 70%;
}
