/* Author: Aurelio Jargas http://aurelio.net, License: Public Domain */

table
	{
	border-spacing	: 0;
	}
td.pic img
	{
	padding		: 4px;
	border		: 1px solid gray;
	}
td img.flag
	{
	border 		:1px solid #ccc; /* Japan flag needs border */
	}
td b
	{
	font-size	: 125%;    /* people names */
	}
td li
	{	
	line-height	: 130%;
	}
td
	{
	padding		: 1em;
	border-width	: 0 0 1px 0;
	border-style	: solid;
	border-color	: black;
	}
td img	{
	vertical-align	: top;
/*	border		: 1px solid #555;  -- Beware! Chinese names with border means they're DEAD :( */
	}
ol
	{
	list-style-type : disc;
	}
