<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
<head> 
  <title>Slide Shows in XHTML</title> 
  <meta name="copyright" 
   content="Copyright &#169; 2005 your copyright notice" /> 
  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="slidy_t2t.css" /> 
   <!--<link rel="stylesheet" href="http://www.w3.org/Talks/Tools/Slidy2/styles/w3c-blue.css" type="text/css" />-->
  <script src="slidy.js" charset="utf-8" type="text/javascript"></script> 
  <style type="text/css"> 
    <!-- your custom style rules --> 
  </style> 
</head>
<body>

<div class="background"><a href="http://www.txt2tags.org/"><img
alt="txt2tags logo" id="head-logo-fallback"
src="t2tgems.png" align="right"/></a>


</div><div class="slide"><h1>1. Introduction</h1>

<p>
Txt2tags can be used as a conveniant tool for generating presentations using <a href="http://en.wikipedia.org/wiki/Beamer_%28LaTeX%29">Beamer</a> or <a href="http://www.w3.org/Talks/Tools/Slidy2/">Slidy</a>
</p>

</div><div class="slide"><h2>1.1. This is a Slide</h2>

<p>
And the content can be typeset with <b>regular</b> <code>txt2tags</code> markup.
</p>
<p>
You can also use bullet list:
</p>

<ul>
<li>Oh
</li>
<li>Bullets
</li>
<li>Are <i>so</i>
</li>
<li>Nice
  <ul>
  <li>and so 
  </li>
  <li>are
  </li>
  <li>sub-bullets
  </li>
  </ul>
</li>
</ul>

</div><div class="slide"><h2>1.2. Easy Animations</h2>

<p>
With enumerated lists comes <i>animations</i>
</p>

<ul class="incremental">
<li>one
</li>
<li>two
</li>
<li>three
</li>
</ul>

<p>

The keyword <code>PAUSE (in Beamer)</code>  can also be used to explicitly 
pause...
</p>

</div><div class="slide"><h2>1.3. Description Lists are Blocks</h2>

<dl>
<dt>Block title</dt><dd>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
   eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
   ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
   aliquip ex ea commodo consequat. Duis aute irure dolor in
   reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
   pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
   culpa qui officia deserunt mollit anim id est laborum.  
</dd>
</dl>

</div><div class="slide"><h2>1.4. But They Can Also Be Used As Lists</h2>

<dl>
<dt>Item lists</dt><dd>
  <ul>
  <li>with
  </li>
  <li>bullets
  </li>
  </ul>
</dd>
<dt>Enumeration lists</dt><dd>
  <ul class="incremental">
  <li>one
  </li>
  <li>two
  </li>
  <li>three
  </li>
  </ul>
</dd>
</dl>

</div><div class="slide"><h2>1.5. </h2>

<p>
<img align="middle" src="octus.png" border="0" alt=""/>
</p>

</div><div class="slide"><h2>1.6. Table (with Colours)</h2>

<table border="1" cellpadding="4">
<tr>
<th>column1</th>
<th>column2</th>
</tr>
<tr>
<td align="center">val1a</td>
<td align="center">val2a</td>
</tr>
<tr>
<td align="center">val1b</td>
<td align="center">val2b</td>
</tr>
</table>

</div><div class="slide"><h2>1.7. Uncovering Line by Line</h2>

<p>
Just add <code>PAUSE (in Beamer)</code> at the end of the line.
</p>

<table cellpadding="4">
<tr>
<th>column1</th>
<th>column2</th>
<th>colum3  </th>
</tr>
<tr>
<td align="center">val1a</td>
<td align="center">val2a</td>
<td align="center">val3a   </td>
</tr>
<tr>
<td align="center">val1b</td>
<td align="center">val2b</td>
<td align="center">val3b   </td>
</tr>
<tr>
<td align="center">val1c</td>
<td align="center">val2c</td>
<td align="center">val3c   </td>
</tr>
</table>

</div><div class="slide"><h1>2. Handling Verbatim</h1>

</div><div class="slide"><h2>2.1. Special Slide</h2>

<p>
<b>Caveats:</b>
Verbatim text in <code>beamer</code>  can be very tricky to use.
</p>
<p>
It has to be in a special slide that does not support animations like the  
regular slides.
</p>

</div><div class="slide"><h2>Solution (Hack)</h2>

<p>
So we use unnumbered title instead (Latex handles
 the sectionning and table of contents anyway) 
</p>

<pre>
  + Section +
  
  ++ A standard slide ++
  This is a regular slide with
  + ani
  + ma
  + tions
  +
</pre>

</div><div class="slide"><h2>Solution (Hack) cont.</h2>

<p>
With verbatim
</p>

<pre>
    == A Slide with Verbatim ==
  
    You can insert regular verbatim blocks.
   
    ```
    this
        way
    ```
</pre>

</div><div class="slide"><h1>3. Conclusion</h1>

</div><div class="slide"><h2>3.1. Perspectives</h2>

<p>
Still a lot to do...
</p>

</div><div class="slide"><h2>3.2. </h2>

<p>
   <b>Thanks for your attention...</b>
</p>

<!-- xhtml code generated by txt2tags 2.6.433 (http://txt2tags.org) -->
<!-- cmdline: txt2tags -C slidy.conf.t2t -T slidy -t xhtml -o talk.html talk.t2t -->

</body>
</html>

